<app-card titulo="Primeiro Componente">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Segundo Componente">
    <app-segundo-component> </app-segundo-component>
</app-card>
<app-card titulo="Terceiro Componente">
    <app-terceiro-component></app-terceiro-component>
</app-card>
<app-card titulo="Two way Data Bindings">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando listas">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componente personalizado">
    <app-componente-personalizado nome="Guilherme" sobrenome="Henrique">
    </app-componente-personalizado>
</app-card>
<app-card titulo="Componente pai">
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="Serviços">
    <app-exemplo-servicos></app-exemplo-servicos>
    <app-exemplo-servico2></app-exemplo-servico2>
</app-card>
<app-card titulo="Ciclo de vida">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>