.layout {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #bbb;
}

.cabecalho h1 {
    margin: 0;
    font-size: 2em;
}

.cabecalho a {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

.conteudo {
    color: white;
    background-color: #555;
    height: 100vh;
}